# Ubuntu 24.04 OpenSSH Server Configuration
Include /etc/ssh/sshd_config.d/*.conf

Port 22
#AddressFamily any
#ListenAddress 0.0.0.0

#LogLevel INFO
X11Forwarding yes
#MaxAuthTries 6
#PermitRootLogin prohibit-password
#PermitEmptyPasswords no
PermitUserEnvironment yes
#ClientAliveInterval 0
#ClientAliveCountMax 3
#Banner none

UsePAM yes
Subsystem sftp /usr/lib/openssh/sftp-server

# Conditional access for deploy user
Match User deploy
    PasswordAuthentication yes
    AllowTcpForwarding no
