10
BOF
EOF
type
id
;
(
)
{
}
,
7
Program
DeclList
Decl
VarDecl
FuncDecl
ParamList
Param
Program
11
Program BOF DeclList EOF
DeclList DeclList Decl
DeclList Decl
Decl VarDecl
Decl FuncDecl
VarDecl type id ;
FuncDecl type id ( ParamList ) { }
FuncDecl type id ( ) { }
ParamList ParamList , Param
ParamList Param
Param type id
