[submodule "verifiers"]
	path = deps/verifiers
	url = https://github.com/thwu1/verifiers.git
	branch = fix/legacy-routed-experts
[submodule "renderers"]
	path = deps/renderers
	url = git@github.com:PrimeIntellect-ai/renderers.git
[submodule "research-environments"]
	path = deps/research-environments
	url = git@github.com:PrimeIntellect-ai/research-environments.git
[submodule "pydantic-config"]
	path = deps/pydantic-config
	url = https://github.com/PrimeIntellect-ai/pydantic-config
