[{:index 0 :type :invoke :f :txn :value [[:append 0 1] [:append 1 1]] :process 0 :time 0}
 {:index 1 :type :ok :f :txn :value [[:append 0 1] [:append 1 1]] :process 0 :time 5000000}
 {:index 2 :type :invoke :f :txn :value [[:r 0 nil] [:append 0 2]] :process 0 :time 10000000}
 {:index 3 :type :invoke :f :txn :value [[:r 1 nil] [:append 1 2]] :process 1 :time 10000000}
 {:index 4 :type :invoke :f :txn :value [[:append 0 99]] :process 2 :time 12000000}
 {:index 5 :type :fail :f :txn :value [[:append 0 99]] :process 2 :time 14000000}
 {:index 6 :type :ok :f :txn :value [[:r 0 [1]] [:append 0 2]] :process 0 :time 15000000}
 {:index 7 :type :ok :f :txn :value [[:r 1 [1]] [:append 1 2]] :process 1 :time 15000000}
 {:index 8 :type :invoke :f :txn :value [[:r 0 nil] [:r 1 nil]] :process 0 :time 20000000}
 {:index 9 :type :ok :f :txn :value [[:r 0 [1 2]] [:r 1 [1 2]]] :process 0 :time 25000000}
 {:index 10 :type :invoke :f :txn :value [[:append 0 3]] :process 0 :time 30000000}
 {:index 11 :type :invoke :f :txn :value [[:append 1 3]] :process 1 :time 30000000}
 {:index 12 :type :ok :f :txn :value [[:append 0 3]] :process 0 :time 35000000}
 {:index 13 :type :ok :f :txn :value [[:append 1 3]] :process 1 :time 35000000}
 {:index 14 :type :invoke :f :txn :value [[:r 0 nil] [:r 1 nil]] :process 0 :time 40000000}
 {:index 15 :type :ok :f :txn :value [[:r 0 [1 2 3]] [:r 1 [1 2 3]]] :process 0 :time 45000000}]
